/* main.css - Deep16 IDE Main Stylesheet */
@import url('layout.css');
@import url('header.css');
@import url('editor.css');
@import url('memory.css');
@import url('registers.css');
@import url('tabs.css');
@import url('transcript.css');
@import url('file-menu.css');
@import url('screen.css');
@import url('responsive.css');
